POSTGRES_USER=lifeops
POSTGRES_PASSWORD=lifeops_password
POSTGRES_DB=lifeops_db

PGADMIN_DEFAULT_EMAIL=vineet00pareek.de@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
COMPOSE_PROJECT_NAME=lifeops